<div class="row">
  <div class="col-12">
    <h1>
      {{ title }}
    </h1>
    <div *ngIf="isAuthenticated">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Annonces</li>
            </ol>
          </nav>
      <ul class="list-group col-xs-12 container ">
        <app-ad *ngFor="let annonce of annonces; let i = index" [id]="annonce.id" [index]="i" [annonce]="annonce.name" [status]="annonce.status" [date]="annonce.date" [price]="annonce.price"></app-ad>
      </ul>
      <app-counter></app-counter>
      <button class="btn btn-success" (click)="onPublier()">Publier</button>
      <button type="button" class="btn btn-warning">Déconnexion</button>
    </div>
    <div *ngIf="!isAuthenticated">
      <div class="alert alert-primary" role="alert">
        Vous devez être connecté pour afficher les annonces
      </div>
      <button type="button" class="btn btn-success">Connexion</button>
    </div>
  </div>
</div>
