<li class="list-group-item row">
    <i class="fa" [ngClass]="{'fa-pause-circle': status == 'Brouillon','fa-check-circle': status == 'Publiée','fa-times-circle': status == 'Désactivée'}" [ngStyle]="{color : getStatusColor()}"></i>
      {{annonce}}-
      <div class="badge badge-primary">{{ price | number : '2.2-2'}} €</div>-
      <strong><i>{{ status}}</i></strong>
      <div class="float-right">{{date | date: 'MM/dd/yyyy, h:mm' }}</div>
      <br>
      <input type="text" [(ngModel)]="annonce"><br>
      <div class="btn btn-group btn-sm">
        <button class="btn" [ngClass]="{'btn-success': status != 'Publiée', 'btn-outline-success': status == 'Publiée'}" (click)="PublierUn()" [disabled]="status === 'Publiée'">Publier</button>
        <button class="btn" [ngClass]="{'btn-info': status != 'Brouillon', 'btn-outline-info': status == 'Brouillon'}" (click)="BrouillonUn()" [disabled]="status === 'Brouillon'">Brouilloner</button>
        <button class="btn" [ngClass]="{'btn-warning': status != 'Désactivée', 'btn-outline-warning': status == 'Désactivée'}" (click)="DesactiverUn()" [disabled]="status === 'Désactivée'">Désactiver</button>
      </div>
      <a routerLink="/ads/{{id}}">Voir cette annonce</a>
  </li>

