<!-- Login -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Login</span>
  </div>
  <input type="text" class="form-control">
</div>

<!-- Mot de passe -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Mot de passe</span>
  </div>
  <input type="text" class="form-control">
</div>

<!-- Bouton de connexion -->
<button class="btn btn-success" (click)="login()" *ngIf="!isAuth">Connexion</button>
<button class="btn btn-warning" (click)="logout()" *ngIf="isAuth">Déconnexion</button>
