<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/ads">Annonces</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ad.name}}</li>
    </ol>
  </nav>
<li class="list-group-item row">
    <img src="{{ad.image}}">
    <h1>{{ad.name}}</h1>
    <div class="badge badge-primary">{{ ad.price | number : '2.2-2'}} €</div>-
    <strong><i>{{ ad.status }}</i></strong>
    <div class="float-right">{{ad.date | date: 'MM/dd/yyyy, h:mm' }}</div>
    <br>
</li>
