<h1>Exercices</h1>
<h2>Compteur</h2>
{{ number_secondes }} secondes
<button (click)="counterLaunch()" [disabled]="isClicked == false">Démarrer le compteur</button>
<button (click)="counterStop()">Stoper le compteur</button>