<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Titre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ngModel name="name" placeholder="Votre titre ici">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Prix</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ngModel name="price" placeholder="Prix de votre objet">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Image</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ngModel name="image" placeholder="Url de l'image">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Status</label>
    <div class="col-sm-10">
    <select class="form-control" ngModel name="status">
      <option value="Publiée">Publiée</option>
      <option value="Brouillon">Brouillon</option>
      <option value="Désactivée">Désactivée</option>
    </select>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Ajouter l'annonce</button>
  </div>
</form>
